* 
{
    margin: 0;
	padding: 0;
    border: 0;
}

body
{
    background-color: #EEEEEE;
    font-size: 16px;
    font-family:'roboto',sans-serif;
}

/*header*/

nav
{
    background-color: #017299;
    height: 40px;
    border-bottom: 1px #8a8d93 solid;
 
    
}
#menu
{
    float: right;
    margin-right: 7%;
    transform: 1s;
    
}

#menu li
{
    display: inline-block;
    background-color: #ffffff;
    border-right: 1px #8a8d93 solid;
    border-left: 1px #8a8d93 solid;
    padding: 10px 50px 10px 50px;
    
}

#menu a
{
    color:#55a34b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    
       
}
#menu a:hover
{
    color:#017299;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
       
}

h1.text-logo
{
    color: #ffffff;
    font-weight: 900;
    font-size: 65px;
    text-shadow: 4px 5px 2px rgba(23, 25, 26, 0.88);
    text-align: center;
    padding-top: 100px;
    
    
}

header div#topbaner
{
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    /*filter: grayscale(100%);*/
    background: url(img/zdjecie1.jpg)center/cover no-repeat;
    border-bottom: 1px #8a8d93 solid;
}

/* main */

/* main info-section */
#info-section
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-bottom: 1px #ffffff solid;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;

}

.info1
{
    overflow: hidden;
    width: 20%;
    height: 250px;
    text-align: center;
    border: 1px black solid;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 5px rgb(0, 130, 168);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    
}



.info1 img 
{
    height: 100px;
    width: 100px;
    padding: 10px;
} 

.info1 h1
{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.info1 p
{
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    visibility:visible;
}

/*main content-section */

.content-section
{
    background-color: grey;
    display: flex;
    background:rgb(229, 226, 226);
   
}

.content-box
{
    background-color: #ffffff;
    width: 70%;
    height: 500px;
    margin: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    


    
}
.content-box img
{
    width: 100%;
    height: 250px;
      
}
.content-box h1
{
    text-align: center;
}

.content-box p
{
    text-align: center;
    padding: 10px;
    
}
.join
{
    height: 500px;
    margin: 50px;
    background: #017299;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    
}

/* footer */
footer
{
    background-color: #017299;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    width: 100%;
}
/* form */
form, input, select, textarea {
			margin:0; 
			padding:0; 
			color:#ffffff;
		}
 
		div.box {
			margin:0 auto;
			width:500px;
			background:#222222;
			position:relative;
			top:50px;
			border:1px solid #262626;
		}
 
		div.box h1 { 
			color:#ffffff;
			font-size:18px;
			text-transform:uppercase;
			padding:5px 0 5px 5px;
			border-bottom:1px solid #161712;
			border-top:1px solid #161712; 
		}
 
		div.box label {
			width:100%;
			display: block;
			background:#1C1C1C;
			border-top:1px solid #262626;
			border-bottom:1px solid #161712;
			padding:10px 0 10px 0;
		}
 
		div.box label span {
			display: block;
			color:#bbbbbb;
			font-size:12px;
			float:left;
			width:100px;
			text-align:right;
			padding:5px 20px 0 0;
		}
 
		div.box .wpis {
			padding:10px 10px;
			width:200px;
			background:#262626;
			border-bottom: 1px double #171717;
			border-top: 1px double #171717;
			border-left:1px double #333333;
			border-right:1px double #333333;
		}
 
		div.box .wiadomosc {
			padding:7px 7px;
			width:350px;
			background:#262626;
			border-bottom: 1px double #171717;
			border-top: 1px double #171717;
			border-left:1px double #333333;
			border-right:1px double #333333;
			overflow:hidden;
			height:150px;
		}
 
		div.box .button	{
			margin:0 0 10px 0;
			padding:4px 7px;
			background:#CC0000;
			border:0px;
			position: relative;
			top:10px;
			left:32px;
			width:100px;
			border-bottom: 1px double #660000;
			border-top: 1px double #660000;
			border-left:1px double #FF0033;
			border-right:1px double #FF0033;
		}


/* Media Queries */


@media (max-width: 1220px) {
    .content-section {
    display:flex;
    flex-direction: column;

    }
}

@media (max-width: 1220px) {
    #info-section {
    height: 100%;
    width: 300%;
    display: table;
    align-items: center;
    justify-content:flex-start;
    border-bottom: 1px #ffffff solid;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20%;
    }
}
@media (max-width: 1220px) {
    #menu {
    width:100%;
    background:#017299;
    display: table;
    display: block;
    float:left;
    transition: 1s;

    }
}

@media (max-width: 720px) {
    #menu,li {
     width: 100%;
    background-color: #ffffff;
    border-right: 0px #8a8d93 solid;
    border-left: 0px #8a8d93 solid;
    padding: 10px 50px 10px 50px;
    display: table;

    }
}
@media (max-width: 720px) {
    .join {
     overflow: hidden;
    margin: 10px;
        


    }
}
@media (max-width: 720px) {
    .content-box 
    {
        height: 550px;
   


    }
}

