@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900&subset=latin-ext');
 
*{
	   	padding: 0px;
	   	margin:0px;
	   	box-sizing: border-box;
}
body {
    height: 9990px;
}
.hero-image{
    background: url(https://images.pexels.com/photos/1011329/pexels-photo-1011329.jpeg?cs=srgb&dl=aerial-business-computer-1011329.jpg&fm=jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
}

/* nav section */
.burger-menu {
    background-image: url(images/nav-dark.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    display: none;
   

}
.main-nav {
    margin-right: 10%;

}
.main-nav ul {
    display: inline-block;
          
}
.main-nav ul li {
    display: inline-block;
    
}
.main-nav ul li a{
    display: inline-block;
    font-size: 1.3em;
    text-decoration: none;
    color: #fff;
    line-height: 100px;
    padding: 0 20px;
    text-transform: uppercase;
}

/* logo section */
#logo {
    background: url(images/logo.png) no-repeat center;
    margin: 20px;
    width: 200px;
    height: 80px;
}
/* hero-text section */
.hero-text {
    background: rgba(20, 17, 17, 0.2);
    box-shadow: 4px 4px 2px 2px rgba(50, 50, 50, 0.75);
    color: #fff;
    text-align: center;
    position: absolute;
    display: inline-block;
    transform: translatey(-50%);
    left: 0;
    right: 0;
    top: calc(50% - 100px);
}
.hero-text h1{
    font-size: 3.5em;
    margin: 10px;
}
.hero-text p{
     font-size: 2em;
}


	   