@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700|Lato|Yeseva+One&subset=latin-ext');
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*  
font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Yeseva One', cursive;
h1,h2 {
    font-family: 'Yeseva One', cursive;
}
h2.title {
   font-size: 36px;
}
*/
body {
    background-color: #eae5e5;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
section.img-wrap {
    background-size: cover;
    padding: 100px 0;
    
}
.btn {
    border: none;
    color: white;
    margin: 20px 10px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
     
}
.btn1 {
    background-color: rgba(28, 27, 27, 0.8);
    border: 1px solid #000;
    
}
.btn2 {
    background-color: rgba(198, 198, 198, 0.5);
    border: 1px solid #ccc;
    
}
.wrapper {
    margin: 0 auto;
    max-width: 1250px;
}

section:after {
    content: "";
    display: block;
    clear: both;
}

.bg-hero {
    background: url(img/bg1-760px.jpg)no-repeat center;  
    height: 768px;
    background-size: cover;
    
}
header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 110px;
    
}
.logo {
    background: url(img/logo.png)no-repeat;
    margin-right: auto;
    
}

.main-nav {
    display: block;
}
.main-nav ul {

}
.main-nav ul li {
    list-style: none; 
    display: inline-block;
    margin: 20px;
 
}
.main-nav ul li a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Gentium Book Basic', serif;
    padding: 5px;
}
.icon {
    padding: 5px;
}
.header-text{
    text-align: center;
    margin-top: 80px;
  
}
h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 65px;
    color: #f8f8f8;
    background: url(img/h1decoration.png)no-repeat center bottom;
    padding-bottom: 70px;
    text-shadow: 1px 1px 1px#000000;
    letter-spacing: 3px;
}
h2 {
    padding-bottom: 35px;
    margin: 15px 0;
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    font-size: 36px;
    text-align: center;   
}
h3 {
    font-size: 21px;
    color: #cc9900;
    border-bottom: 1px solid #cc9900;
    padding-bottom: 2%;
    margin: 2%;
}
.rightfood {
    background: url(img/b2.jpg);
}
.left-col {
    float: left;
    width: 50%;
    text-align: center;
    
}
.left-col h2,.title {
    background: url(img/h2yellow.png)no-repeat center bottom;
    color: #cc9900;
    
}
.left-col p {
    width: 70%;
    font-size: 16px;
    text-align: center;
    padding: 10px 15%;
}
.left-col img {
    max-width: 100%;
    display: block;
    margin: 30px auto;
}

.right-col{
    float: right;
    width: 50%;
    position: relative;
    
}
.right-col img{
    position: absolute;
    top: -25px;
    max-width: 100%;
}
.ingredients {
    background: url(img/box.jpg);
 
}
.ingredients-box {
    background: rgba(28, 27, 27, 0.8);
    width: 30%;
    float: right;
    padding: 5% 5%;
}
.ingredients-box p {
    color: #fff;
    text-align: center;
    margin: 10%;
}
.ingredients-box img {
    max-width: 100%;
    display: inline-block;
}
.ingredients-box img:nth-child(even) {
    margin: 0 5%;
}
.white {
    background: url(img/whitedecoration.png)no-repeat center bottom;
    color: #fff;
    text-align: center;
}
.menu {
    background: url(img/bg2-944px.jpg);
}
.menu span {
    float: right;
}
.menu p {
    margin: 2% 2%;
}
.menu-item-one {
    float: left;
    width: 40%;
    margin: 0 5%;
}
.menu-item-two {
    float: right;
    width: 40%;
    margin: 0 5%;
}

   
.menu-item-three {
    width: 40%;
    margin: 0 5%;
    float: right;
}
.menu-item-four {  
    width: 40%;
    margin: 0 5%;
    float: left;
}
.special
{
    border: 1px solid #cc9900;
    margin: 5% 0;
    position: relative;
}
.special:before
{
    content: "Special";
    position: absolute;
    background-color: #cc9900;
    color: #fff;
    top: -20px;
    right: -1px;
    padding: 0 3%;
    
}